#home {
    margin-bottom: 5rem;
    background: url(../src/images/vivid-background.jpg);
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#home-text {
    margin: auto 5rem;
    position: relative;
    top: 40%;
    transform: translate(0, -50%);
}

#home-text h1 {
    font-size: 65px;
    max-width: 60vw;
    color: var(--white);
}

#home-text h1 span {
    background-image: linear-gradient(to right, #d11212, #d25908, #d11212);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

#home-text p {
    font-size: 30px;
    color: var(--white);
}

/* Media queries */

@media (max-width: 1280px) {
    #home-text {
        margin: auto 4rem;
    }

    #home-text h1 {
        font-size: 60px;
    }

    #home-text p {
        font-size: 25px;
    }
}

@media (max-width: 678px) {

    #home-text h1 {
        font-size: 40px;
    }

    #home-text p {
        font-size: 20px;
    }
}
