.projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    gap: 4rem;
}

.projects .text-projects {
    margin-bottom: 15px;
}

.projects .text-projects p {
    color: var(--light-black);
    max-width: 640px;
    text-align: justify;
}

.projects .text-projects h2 {
    display: flex;
    font-weight: 600;
    font-size: 23px;
    color: var(--light-black);
    align-items: center;
    cursor: pointer;
}

.projects img {
    border-radius: 5px;
    width: 640px;
    height: 360px;
    border: 1px solid #dedede;
}

/* Media queries */

@media (max-width: 768px) {
    .projects .text-projects p {
        max-width: 426px;
    }

    .projects img {
        width: 426px;
        height: 240px;
    }
}

@media (max-width: 500px) {
    .projects .text-projects p {
        max-width: 293px;
    }

    .projects img {
        width: 293px;
        height: 200px;
    }
}
